@import "_mixin.scss";
@import "_mobile.scss";
@import "_tablet.scss";
@import "_desktop.scss";

html,
body {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {

	background-image: url(../images/dc-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#content-wrapper {
	width: 65%;
	margin: auto;
	background-color: #fff;
	border: 0.5px solid black;
	overflow-y: scroll;
}

h1 {
	margin-top: 10px;
	text-decoration: underline;
	text-decoration-color: #0078F0;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-left: 400px;

}


header img {
	margin-left: 20px;
	margin-top: 10px;
	width: 10%;

}

.search {
	margin-top: -20px;
	text-align: center
}



.image-container {

	top: 350px;
	position: relative;

} // character's profile pic
.profileImage {
	top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -20px;

	position: relative;
	width: 220px;
	height: 320px;
	z-index: 9999;
}


footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.5rem;
	background-color: #303030;
	text-align: center;
	color: white;

}



//mobile screen
@media screen and (max-width: 768px) {

	@import "_mobile.scss";

}

//tablet screen
@media screen and (min-width:769px) {
	@import "_tablet.scss";

}


//desktop screen
@media screen and (min-width: 1028px) {
	@import "_desktop.scss";

}
